<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>images</title>
	<style>
		img{
			width:300px;
			height: 300px;
		}
		[title="virat"]{
			border: 2px solid red;
			border-radius: 50px;

		}
		[title="Mr.cool"]{
			border: 2px double lightyellow;
			border-radius: 75px;
		}
		[title="Mr.ipl"]{
			border: 5px ridge seagreen;
			border-radius: 30px;

		}
	</style>
</head>
<body>
	<!-- relative path -->
	<img src="https://images.pexels.com/photos/1131774/pexels-photo-1131774.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" title="Eagle">
	<img src="https://images.pexels.com/photos/1535162/pexels-photo-1535162.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" title="">
	<img src="https://images.pexels.com/photos/1114690/pexels-photo-1114690.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" title="">
	<!--aboslute path -->
	<img src="https://images.pexels.com/photos/1433052/pexels-photo-1433052.jpeg?auto=compress&cs=tinysrgb&w=600">
	<img src="https://images.pexels.com/photos/1366919/pexels-photo-1366919.jpeg?auto=compress&cs=tinysrgb&w=600">
	<img src="https://images.pexels.com/photos/1271620/pexels-photo-1271620.jpeg?auto=compress&cs=tinysrgb&w=600">


</body>
</html>